
<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>Espera mientras se obtienen todos los pokemones :)</h1>
    </div>  
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img src="https://c.tenor.com/V-6ZF3wyefwAAAAM/charmander-pokemon.gif" alt="charmander-corriend-del-awa">
    </div>  
  </div>
</div>